@{
    ViewData["Title"] = "My Reports";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}
@model List<Clinic_Queue_Management.Models.ReportViewModel>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">My Reports</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-head-bg-primary table-bordered-bd-primary mt-4">
                        <thead>
                            <tr>
                                <th>Doctor</th>
                                <th>Diagnosis</th>
                                <th>Test Recommended</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count > 0)
                            {
                                foreach (var report in Model)
                                {
                                    <tr>
                                        <td>
                                            @if (report.Doctor is string docStr) { @docStr }
                                            else if (report.Doctor != null && report.Doctor is Newtonsoft.Json.Linq.JObject docObj) { @docObj["name"] }
                                        </td>
                                        <td>@report.Diagnosis</td>
                                        <td>@report.TestRecommended</td>
                                        <td>@report.Remarks</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td colspan="4" class="text-center">No reports found.</td></tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>